<?php

/**
 * Copy this file to credentials.php and insert your credentials.
 */

use Ircykk\AllegroApi\Credentials;

include_once __DIR__.'/../vendor/autoload.php';

$credentials = new Credentials(
    'xxx',
    'yyy',
    'http://localhost:8000/authentication.php'
);
